<!-- Team Section -->
    <section id="about" > <!-- class="bg-light-gray"> -->
      <!-- script to automatically change pics -->
      <script type = "text/javascript">
          function displayNextImage() {
              x = (x === images.length - 1) ? 0 : x + 1;
              document.getElementById("img").src = images[x];
          }

          function startTimer() {
              setInterval(displayNextImage, 3000);
          }

          var images = [], x = 0;
          images[0] = "img/Xyris-8str-black.jpg";
          images[1] = "img/Xyris-6str-purple.jpg";
          images[2] = "img/Xyris-6str-red.jpg";
      </script>

      <body onload="startTimer()">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <!--
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                	-->
                </div>
            </div>

            <div class="row">
            <!-- left side -->
                <div class="col-sm-6 col-lg-offset-0 text-left">
                    <p class="large text-muted"><img class="img-responsive" width="30%" src="img/logo-black-transparent.png">
									is building hand crafted boutique instruments since 2012.
                                    We are building guitars for high playability with deep cutaways and thin necks. All of our guitars feature
                                    through necks and are equipped with quality hardware. We use traditional guitar woods as well as local woods
                                    from Southern Africa, such as kiaat.</p>
                </div>
            <!-- right side -->
             <div class="col-sm-6">
            	<!-- <img class="img-responsive" width="100%" src="img/Xyris-8str-black.jpg"> -->
              <img id="img" class="img-responsive" width="100%" src="img/Xyris-8str-black.jpg"/>
            </div>
            </div>

        </div>

      </body>
        
    </section>
