<!-- to do: add pics of endorsed artists, choose class for pics (not videos!) -->

<section id="endorsements" > <!-- class="bg-light-gray"> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Endorsements</h2>
                    <!--
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                	-->
                </div>
            </div>
                        
        	<div class="row">
               	<div class="col-md-4 col-sm-6">
					<div class="video-container">
               			<div> 
               			 <!-- add pic -->
						</div>
					</div>
					<div class="portfolio-caption">
                        <p class="text-muted">Ross Tapson, AS Guitars Xyris 6-string</p>
                    </div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="video-container">
						<div>

               			</div>
               		</div>
               		<div class="portfolio-caption">
                        <p class="text-muted">Aiden ..., AS Guitars Amyris 8-string</p>
                    </div>
               </div> 
               <div class="col-md-4 col-sm-6">
					<div class="video-container">
						<div>

               			</div>
               		</div>  
					<div class="portfolio-caption">
						<p class="text-muted">Neil Ford, AS Guitars Xyris 6-string</p>
               		</div>
               </div>              
               
        	</div>  <!-- end row -->
        	
        	<div class="row">
        		<div class="col-md-4 col-sm-6">
					<div class="video-container">
               			<div> 
               				<iframe width="560" height="315" src="https://www.youtube.com/embed/q2hJFA5UA0g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
					<div class="portfolio-caption">
						<p class="text-muted">Templar Funk featuring AS Guitars Oxalis and AS Guitars custom bass</p>
                    </div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="video-container">
						<div>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/qUpttsBb2iI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               			</div>
               		</div>
               		<div class="portfolio-caption">
                        <p class="text-muted"> Ross Tapson playing AS Guitars Amyris semi-hollow and Neil Ford playing AS Guitars custom bass</p>
                    </div>
               </div> 
               <div class="col-md-4 col-sm-6">
					<div class="video-container">
						<div>
							<!-- place holder -->
               			</div>
               		</div>  
					<div class="portfolio-caption">
                           <!-- placeholder -->          				
               		</div>
               </div>              
               
        	</div>  <!-- end row -->
        	
        </div>
    </section>