  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>


                <div class="col-md-4">
                <ul class="list-inline quicklinks">
                        <li>follow us on</li>
                </ul>
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>


                <div class="col-md-5">
                    <ul class="list-inline quicklinks">
                    <li> email us: info@asguitars.co.za </li>
                    <li> phone us: +27 83 377 0708 </li>
                    <li> find us: Pinetown 3610, South Africa</li>
                    <!--    <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
