<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a> -->
                <!--<a class="navbar-brand page-scroll" href="#page-top"><img class="img-responsive" style="height:100%" src="img/logo-white-transparent.png"></a>
				-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#page-top">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Guitars</a>
                    </li>
                    <li>
                    	<a class="page-scroll" href="#videos">Videos</a>
                    </li>
                    <li>
                    	<a class="page-scroll" href="#endorsements">Endorsements</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
<!--
                    <li>
                    <a href="https://www.facebook.com/Alain-Smith-Guitars-1944528022450251"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                    <a href="https://www.youtube.com/channel/UCpuF4S3coOx8COCh5i1qYaQ"><i class="fa fa-youtube"></i></a>
                    </li>
-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">

            <div class="intro-text">

              <div class="intro-lead-in"> Welcome to </div>
                <div class="intro-heading"> AS Guitars  </div>
             <!-- <div> <img class="img-responsive" style="vertical-align:top; width:20%"
               src="img/logo-white-transparent.png"></a></div> -->
              <!--  <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a> -->


            </div>

        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
